[{:db/id -1, :mangaka.default-anchors/model "cagliostrolab/animagine-xl-4.0", :mangaka.default-anchors/quality-tail ["masterpiece" "best quality" "very aesthetic" "absurdres"], :mangaka.default-anchors/word-budget 42, :mangaka.default-anchors/base-negative ["lowres" "worst quality" "low quality" "bad anatomy" "bad hands" "extra digits" "blurry" "watermark" "signature" "text" "multiple panels" "tiled grid" "collage" "split screen" "speech bubble" "greyscale" "monochrome" "photorealistic" "3d render" "chibi" "wings" "deformed face" "nsfw"], :mangaka.default-anchors/aspect-by-layout "{\"2-panel-horizontal\" :3x2, \"double-page spread\" :16x9, \"full-page\" :2x3, \"3-panel-horizontal\" :16x9, \"2-panel-vertical\" :3x4, \"3-panel-vertical\" :3x4, \"splash\" :2x3, \"4-panel-grid\" :1x1, \"insert\" :1x1}"}]